In [2]:
import pymongo
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://mani270899:mani@cluster0.c0ezt9v.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
client

MongoClient(host=['ac-lqrryte-shard-00-02.c0ezt9v.mongodb.net:27017', 'ac-lqrryte-shard-00-00.c0ezt9v.mongodb.net:27017', 'ac-lqrryte-shard-00-01.c0ezt9v.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7bhvyj-shard-0', tls=True)

Q1.What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a database management platform that provides a NoSQL alternative to traditional databases such as SQL.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored1. These kinds of databases require data manipulation techniques and processes designed to provide solutions to big data problems that big companies face2. They are also known as NoSQL databases3.

SQL is excellent when used with structured data, non-relational databases are very useful for developers that work with unstructured, distributed data.

Q2.State and Explain the features of MongoDB.

MongoDB is a scalable, flexible NoSQL document database platform123. Its features include:
Document-oriented data storage using collections and documents2
Key-value pairs as the basic unit of data2
Open-source3
Designed to store large scale of data3
NoSQL database3
Broad range of indices and features with language-specific sort orders4
Supports complex access patterns to datasets4
MongoDB indices can be created on demand to accommodate real-time, ever-changing query patterns and application requirements4

In [25]:
#Q3.Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

uri = "mongodb+srv://mani270899:mani@cluster0.c0ezt9v.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

In [6]:
db=client['mydb']

In [7]:
create_table=db['myrec']

In [46]:
data3={"name":"mani",
      "class":"pwskills",
       "id":"1"
     }

In [47]:
#Q4.Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

create_table.insert_one(data3)

In [52]:
data1=[{"name":"mani",
      "class":"pwskills",
       "id":"1"
       },
      {"name":"mani",
      "class":"pwskills",
       "id":"2"
      },
      {"name":"mani",
      "class":"pwskills",
       "id":"3"
      },
      {"name":"mani",
      "class":"pwskills",
       "id":"4"
      }]

In [53]:
create_table.insert_many(data1)

In [54]:
for i in create_table.find():
    print(i)

{'_id': ObjectId('648c6720f5238fe253c96c1c'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c682cf5238fe253c96c1d'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c682cf5238fe253c96c1e'), 'name': 'mani1', 'class': 'pwskills1'}
{'_id': ObjectId('648c682cf5238fe253c96c1f'), 'name': 'mani2', 'class': 'pwskills2'}
{'_id': ObjectId('648c682cf5238fe253c96c20'), 'name': 'mani3', 'class': 'pwskills3'}
{'_id': ObjectId('648c6a98f5238fe253c96c22'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c6aa0f5238fe253c96c23'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c6aa0f5238fe253c96c24'), 'name': 'mani1', 'class': 'pwskills1'}
{'_id': ObjectId('648c6aa0f5238fe253c96c25'), 'name': 'mani2', 'class': 'pwskills2'}
{'_id': ObjectId('648c6aa0f5238fe253c96c26'), 'name': 'mani3', 'class': 'pwskills3'}
{'_id': ObjectId('648c6d44f5238fe253c96c27'), 'name': 'mani', 'class': 'pwskills', 'id': '1'}
{'_id': ObjectId('648c6d6df5238fe253c96c28'), 'name': 'mani', 'class': 'pwskills', 'id': '1'}
{'_id': ObjectId('648c6d6df5238fe253c96c29'), 'name': 'mani', 'class': 'pwskills', 'id': '2'}
{'_id': ObjectId('648c6d6df5238fe253c96c2a'), 'name': 'mani', 'class': 'pwskills', 'id': '3'}
{'_id': ObjectId('648c6d6df5238fe253c96c2b'), 'name': 'mani', 'class': 'pwskills', 'id': '4'}

In [55]:
create_table.find_one()

{'_id': ObjectId('648c6720f5238fe253c96c1c'),
 'name': 'mani',
 'class': 'pwskills'}

In [56]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
for i in create_table.find({'name': 'mani3'}):
    print(i)

{'_id': ObjectId('648c682cf5238fe253c96c20'), 'name': 'mani3', 'class': 'pwskills3'}
{'_id': ObjectId('648c6aa0f5238fe253c96c26'), 'name': 'mani3', 'class': 'pwskills3'}

In [59]:
#Q6.
db.create_table.find({'name': 'mani3'})

In [69]:
for i in create_table.find().sort("id",1) :
    print(i)

{'_id': ObjectId('648c6720f5238fe253c96c1c'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c682cf5238fe253c96c1d'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c682cf5238fe253c96c1e'), 'name': 'mani1', 'class': 'pwskills1'}
{'_id': ObjectId('648c682cf5238fe253c96c1f'), 'name': 'mani2', 'class': 'pwskills2'}
{'_id': ObjectId('648c682cf5238fe253c96c20'), 'name': 'mani3', 'class': 'pwskills3'}
{'_id': ObjectId('648c6a98f5238fe253c96c22'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c6aa0f5238fe253c96c23'), 'name': 'mani', 'class': 'pwskills'}
{'_id': ObjectId('648c6aa0f5238fe253c96c24'), 'name': 'mani1', 'class': 'pwskills1'}
{'_id': ObjectId('648c6aa0f5238fe253c96c25'), 'name': 'mani2', 'class': 'pwskills2'}
{'_id': ObjectId('648c6aa0f5238fe253c96c26'), 'name': 'mani3', 'class': 'pwskills3'}
{'_id': ObjectId('648c6d44f5238fe253c96c27'), 'name': 'mani', 'class': 'pwskills', 'id': '1'}
{'_id': ObjectId('648c6d6df5238fe253c96c28'), 'name': 'mani', 'class': 'pwskills', 'id': '1'}
{'_id': ObjectId('648c6d6df5238fe253c96c29'), 'name': 'mani', 'class': 'pwskills', 'id': '2'}
{'_id': ObjectId('648c6d6df5238fe253c96c2a'), 'name': 'mani', 'class': 'pwskills', 'id': '3'}
{'_id': ObjectId('648c6d6df5238fe253c96c2b'), 'name': 'mani', 'class': 'pwskills', 'id': '4'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted. 

To delete a MongoDB database and its associated data files, we can use the db.dropDatabase()